<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <string>NEYMAR</string>
    <string>RONALDO</string>
    <string>MESSI</string>
    <string>OZIL</string>
    <string>KAKA</string>
    <string>INESTA</string>
    <string>ROONEY</string>
    <string>HAZARD</string>
    <string>NUER</string>
    <string>RAMOS</string>
    <string>PIQUE</string>
    <string>SAUREZ</string>
    <string>VILLA</string>
    <string>COSTA</string>
    <string>VANPARSI</string>
    <string>IBRA</string>
    <string>PIRLO</string>
    <string>BALE</string>
    <string>ZIDANE</string>
    <string>BECKHAM</string>
    <string>GIGGS</string>
    <string>SILVA</string>
    <string>RONALDINHO</string>
    <string>DEGEA</string>
    <string>CASILLAS</string>
    <string>KHEDIRA</string>
    <string>SNEIJDER</string>
    <string>DIMARIA</string>
    <string>ALONSO</string>
  </array>
</plist>
