<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Test.plist
   GuessCelebrity

   Created by Md. Muzahidul Islam on 4/27/16.
   Copyright (c) 2016 Muzahid. All rights reserved.
-->
<plist version="1.0">
  <array>
    <string>RONALDINHO</string>
    <string>IBRA</string>
    <string>OZIL</string>
    <string>KAKA</string>

  </array>
</plist>
